"*":
  core:
    disabledPackages: [
      "linter-ruby"
      "linter-elixir-credo"
      "linter-elixirc"
      "linter-ui-default"
      "github"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 110
  "ruby-test":
    cucumberAllCommand: "bundle exec cucumber --color features"
    cucumberFileCommand: "bundle exec cucumber --color {relative_path}"
    cucumberSingleCommand: "bundle exec cucumber --color {relative_path}:{line_number}"
    rspecAllCommand: "bundle exec rspec --tty spec"
    rspecFileCommand: "bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
  welcome:
    showOnStartup: false
