"*":
  "exception-reporting":
    userId: "f30d1b33-e4c8-056b-d4eb-c07777b522b9"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "linter-rubocop"
      "vim-surround"
      "vim-mode"
    ]
  editor:
    invisibles: {}
    fontSize: 19
    preferredLineLength: 110
  linter: {}
  "tree-view": {}
  "ruby-test": {}
