"*":
  core:
    disabledPackages: [
      "linter-ruby"
      "linter-elixir-credo"
      "linter-elixirc"
      "linter-ui-default"
      "github"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 110
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#2638cd"
      zBright:
        brightBlue: "#4e87ff"
    core:
      shell: "/usr/local/bin/fish"
    iconColors:
      blue: "#4542ff"
    style:
      animationSpeed: 0
      fontSize: "14"
      theme: "solarized-dark"
    toggles:
      autoClose: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "ruby-test":
    cucumberAllCommand: "bundle exec cucumber --color features"
    cucumberFileCommand: "bundle exec cucumber --color {relative_path}"
    cucumberSingleCommand: "bundle exec cucumber --color {relative_path}:{line_number}"
    rspecAllCommand: "bundle exec rspec --tty spec"
    rspecFileCommand: "bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
  welcome:
    showOnStartup: false
